<%= form_with(model: combo, local: true) do |form| %>
  <% if combo.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(combo.errors.count, "error") %> prohibited this combo from being saved:</h2>

      <ul>
      <% combo.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<!-- 
  <div class="field">
    <%= form.label :outcome %>
    <%= form.check_box :outcome, id: :combo_outcome %>
  </div>

  <div class="field">
    <%= form.label :card_spots_count %>
    <%= form.number_field :card_spots_count, id: :combo_card_spots_count %>
  </div> -->
  <table>
    <tr>
      <td>
        <div class="field">
          <%=form.label :card1%>
          <%=form.select :card1, options_from_collection_for_select(Card.order(:game_id).all, 'id', 'name'), {:include_blank => true}, { :multiple => true, :size => 26 } %>
        </div>
      </td><td>
        <div class="field">
          <%=form.label :card2%>
          <%=form.select :card2, options_from_collection_for_select(Card.order(:game_id).all, 'id', 'name'), {:include_blank => true}, { :multiple => true, :size => 26 } %>
        </div>
      </td><td>
        <div class="field">
          <%=form.label :card3%>
          <%=form.select :card3, options_from_collection_for_select(Card.order(:game_id).all, 'id', 'name'), {:include_blank => true}, { :multiple => true, :size => 26 } %>
        </div>
      </td><td>
        <div class="field">
          <%=form.label :card4%>
          <%=form.select :card4, options_from_collection_for_select(Card.order(:game_id).all, 'id', 'name'), {:include_blank => true}, { :multiple => true, :size => 26 } %>
        </div>
      </td><td>
        <div class="field">
          <%=form.label :card5%>
          <%=form.select :card5, options_from_collection_for_select(Card.order(:game_id).all, 'id', 'name'), {:include_blank => true}, { :multiple => true, :size => 26 } %>
        </div>
      </td>
    </tr>
  </table>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
