<p id="notice"><%= notice %></p>

<h1>Combos</h1>
<%= paginate @combos %>
<table>
  <thead>
    <tr>
      <th>Outcome</th>
      <th>Card spots count</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @combos.each do |combo| %>
      <tr>
        <td><%= combo.outcome %></td>
        <td><%= combo.card_spots_count %></td>
        <td><%= link_to 'Show', combo %></td>
        <td><%= link_to 'Edit', edit_combo_path(combo) %></td>
        <td><%= link_to 'Destroy', combo, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= paginate @combos %>
<br>

<%= link_to 'New Combo', new_combo_path %>
