<p id="notice"><%= notice %></p>

<h1>Combos</h1>
<%= paginate @combos %>
<table class='table table-striped table-bordered'>
  <thead>
    <tr>
      <th>Outcome</th>
      <th>Card spots count</th>
      <th>Card 1</th>
      <th>Card 2</th>
      <th>Card 3</th>
      <th>Card 4</th>
      <th>Card 5</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @combos.each do |combo| %>
      <tr>
        <td><%= combo.outcome %></td>
        <td><%= combo.card_spots_count %></td>
        <td><%=combo.card_spots.find_by(ord: 1).try(:card).try(:name) %></td>
        <td><%=combo.card_spots.find_by(ord: 2).try(:card).try(:name) %></td>
        <td><%=combo.card_spots.find_by(ord: 3).try(:card).try(:name) %></td>
        <td><%=combo.card_spots.find_by(ord: 4).try(:card).try(:name) %></td>
        <td><%=combo.card_spots.find_by(ord: 5).try(:card).try(:name) %></td>
        <td><%= link_to 'Show', combo %></td>
        <td><%= link_to 'Edit', edit_combo_path(combo) %></td>
        <td><%= link_to 'Destroy', combo, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= paginate @combos %>
<br>

<%= link_to 'New Combo', new_combo_path %>
