<p id="notice"><%= notice %></p>

<p>
  <strong>Outcome:</strong>
  <%= @combo.outcome %>
</p>

<p>
  <strong>Card spots count:</strong>
  <%= @combo.card_spots_count %>
</p>

<%= link_to 'Edit', edit_combo_path(@combo) %> |
<%= link_to 'Back', combos_path %>
